a.notfound {
  color: white;
  background: #ea2858;
  border: none;
  padding: .7em 135px;
  outline: none;
  width: 44%;
  font-size: 1em;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  border-radius: 30px;
}

.header-w3l.error404{
  padding-top: 10em;
}

a.notfound:hover {
  background: #fff;
  color: black;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}