@mixin row-border {
    border-bottom: 1px solid #e0e0e0;
    border-left:  1px solid #e0e0e0;
    border-right:  1px solid #e0e0e0;
}

@mixin row-mouse {
    &:hover {
        background-color: #f0f0f0!important;
    }

    &:active {
        background-color: #e0e0e0!important;
    }
}

.Table {
    margin-bottom: 15px;

    .headerRow {
        border-top: 1px solid #e0e0e0;
        @include row-border();
    }

    .evenRow {
        @include row-border();
        @include row-mouse();
    }

    .oddRow {
        background-color: #fafafa;
        @include row-border();
        @include row-mouse();
    }

    .noRows {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        color: #bdbdbd;
    }
}