* {
  margin: 0;
  padding: 0;
}

html {
  width: 100% !important;
  height: 100% !important;;
}

#wrapper-load{
  position: fixed;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: wait;
  z-index: 9999;
}

h3.loading {
  text-align: center;
  font-family: Open Sans;
  margin-top: 120px;
  font-size: 12px;
  text-transform: uppercase;
  animation-name: text;
  -webkit-animation-name: text;
  -moz-animation-name: text;
  -ms-animation-name: text;
  
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s; 
  -ms-animation-duration: 3s;
  
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
   -moz-animation-timing-function: linear;
   -ms-animation-timing-function: linear;
  
  animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  color: #6ad !important;
}

.spin {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(#fff, #000 5%);
  background: -webkit-radial-gradient(#fff, #000 5%);
  background: -moz-radial-gradient(#fff, #000 5%);
  background: -ms-radial-gradient(#fff, #000 5%);
  box-shadow: 0px 0px 0px 1px #6ad;
  -webkit-box-shadow: 0px 0px 0px 1px #6ad;
  -moz-box-shadow: 0px 0px 0px 1px #6ad;
  -ms-box-shadow: 0px 0px 0px 1px #6ad;
  outline: 1px solid #6ad;
  outline-offset: 5px;
  border: 3px dashed #5ad;
  display: block;
  position: relative;
  top: 100px;
  animation-name: round;
  -webkit-animation-name: round;
  -moz-animation-name: round;
  -ms-animation-name: round;
  
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s; 
  -ms-animation-duration: 2.5s;
  
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
   -moz-animation-timing-function: linear;
   -ms-animation-timing-function: linear;
  
  animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  
  margin: 100px auto;
}

.spin:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  
  animation-name: text;
  -webkit-animation-name: text;
  -moz-animation-name: text;
  -ms-animation-name: text;
  
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s; 
  -ms-animation-duration: 2s;
  
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
   -moz-animation-timing-function: linear;
   -ms-animation-timing-function: linear;
  
  animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  background: #6ad;
  position: absolute;
  left: 60px;
  top: 120px;
}

.spin:after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #6dd;
  left: 20px;
  top: 25px;
  position: absolute;
  
  animation-name: round;
  -webkit-animation-name: round;
  -moz-animation-name: round;
  -ms-animation-name: round;
  
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2; 
  -ms-animation-duration: 2;
  
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
   -moz-animation-timing-function: linear;
   -ms-animation-timing-function: linear;
  
  animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  

  animation-name: bounce;
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -ms-animation-name: bounce;
  
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s; 
  -ms-animation-duration: 0.8s;
  
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
   -moz-animation-timing-function: linear;
   -ms-animation-timing-function: linear;
  
  animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
}

@keyframes round {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.7);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.7);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
  }
}

@-moz-keyframes round {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.7);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
  }
}






@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-frames bounce {
  0% {
    -moz-form: translateY(0px);
  }
  50% {
    -moz-orm: translateY(20px);
  }
  100% {
    -moz-orm: translateY(0px);
  }
}


@keyframes text{
  0% {
    transform: translate(0px);
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: translate(0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@-webkit-keyframes text{
  0% {
    -webkit-transform: translate(0px);
    opacity: 1;
  }
  40% {
    -webkit-opacity: 0;
    transform: translate(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
  }
}
@-moz-keyframes text{
  0% {
    -moz-transform: translate(0px);
    opacity: 1;
  }
  40% {
    opacity: 0;
    -moz-transform: translate(0px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0px);
  }
}

@keyframes text{
  0% {
    transform: translate(0px);
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: translate(0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}