
.paper.A4 *{
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif !important;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

.paper.A4 table{
  border-collapse: unset !important;
}

.paper.A4 p{
  line-height:1 ;
  padding: 0;
  margin-bottom: 0;
}
img{
  vertical-align: bottom;
}

.b-none{
  border: none !important;
}

.bg-red{
  background-color: #f00 !important;
}

.bg-gray{
  background-color: rgb(224, 224, 224);
}

.cl-white{
  color: #fff !important;
}

.cl-red{
  color: #f00 !important;
}

.fi-italic{
  font-style: italic !important;
}

.fs-10{
  font-size: 10px !important;
}

.fs-11{
  font-size: 11px !important;
}

.fs-12{
  font-size: 12px !important;
}

.fs-13{
  font-size: 13px !important;
}

.fs-15{
  font-size: 15px !important;
}

.fs-18{
  font-size: 18px !important;
}

.fs-20{
  font-size: 20px !important;
}

.fs-25{
  font-size: 25px !important;
}

.fs-28{
  font-size: 28px !important;
}

.fw-bold{
  font-weight: 700 !important;
}

.lh-18{
  line-height: 1.8 !important;
}

.ml-5{
  margin-left: 5px !important;
}

.ml-30{
  margin-left: 30px !important;
}

.p-0{
  padding: 0 !important;
}

.p-5{
  padding: 5px !important;
}

.p-0-5{
  padding: 0 5px !important;
}

.pb-8{
  padding-bottom: 8px !important;
}

.pb-30{
  padding-bottom: 30px !important;
}

.pt-30{
  padding-top: 30px !important;
}

.ta-center{
  text-align: center !important;
}

.ta-right{
  text-align: right !important;
}

.w-50{
  width: 50px !important;
}

.w-70{
  width: 70px !important;
}

.w-80{
  width: 80px !important;
}

.w-90{
  width: 90px !important;
}

.wp-30{
  width: 30% !important;
}

.wp-40{
  width: 40% !important;
}

.wp-50{
  width: 50% !important;
}

.wp-100{
  width: 100% !important;
}

.paper{
  background-color: #fff;
  /* border-right : 2px solid #000;
  border-bottom : 2px solid #000; */
  margin: 15px auto;
  position: relative;
}

.paper, .paper *{
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  zoom: 1;
}

.A4{
  width: 794px;
  height: 1200px;
  padding: 42px;
  /* padding: 96px 72px; */
}

.A4 .header{
  margin: 0 -30px;
  /* margin-top: -70px;
  margin-left: -67px;
  margin-right: -67px; */
}

table{
  width: 100%;
  border-spacing: 0;
}

table tr td{
  padding: 5px 8px;
  vertical-align: text-top;
}

.header table tr td{
  vertical-align: bottom;
  padding: 0;
}

.name{
  padding: 20px 0;
}

.info{
  /* margin: 0 -30px; */
  font-size: 15px;
}

.info > table{
  border: 2px solid #aaa;
  border-bottom: none;
}

.info > table > tbody > tr > td{
  border-bottom: 1px solid #aaa;
}

.text p{
  margin-bottom: 15px;
  line-height: 1.3;
}

.sign{
  color: #999 !important;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  margin: 15px 0 !important;
  font-size: 10px !important;
  line-height: 25px;
}

.paper.A4 .footer{
  /* padding: 30px 0; */
  position: absolute !important;
  bottom: 80px !important;
  right: 42px !important;
  /* margin: 0 -30px; */
}

.tool{
  width: 100%;
  margin: auto;
  position: relative;
  height: 500px;
}

.tool .iconTool{
  height: 50px;
  background: #6b686899;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
}

.tool iframe{
  width: 100%;
  height: 500px;
}

.text-up{
  text-transform: uppercase !important;
}

.lh-all, .lh-all *{
  line-height: 21px !important;
}

.text-up-all, .text-up-all *{
  text-transform: uppercase !important;
}

.lh-21-all, .lh-21-all * {
  line-height: 21px !important;
}